.article {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }
  
  .saveButton, .favoriteButton {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .saveButton:hover, .favoriteButton:hover {
    background-color: grey;
  }