.card {
  min-height: 100px;
  max-width: 40%;
  border-bottom: .5rem solid #F1D302;
  border-right: .5rem solid #F1D302;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
  overflow: hidden;
  justify-self: center;
  display: flex;
  flex-direction: column;
}

.card-content, .card {
  background-color: #FDFFFC;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  flex-grow: 1;
  overflow: hidden;
  margin: 0;
}

.saveButton,
.favoriteButton {
  margin: 0.3rem;
}

@media screen and (max-width: 500px) {
  .card {
    max-width: 80%;
    align-self: center;
  }
}