main, section {
  display: flex;
  flex-direction: column;
}

form {
  height: fit-content;
  margin: .67rem;
  color: #161925;
  align-self: center;
  border-radius: 5px;
  background-color: #FDFFFC;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: .5rem solid #F1D302;
  border-right: .5rem solid #F1D302; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  border: none;
  outline: none;
  padding: .5rem;
  border-radius: 5px;
  margin-right: .5rem;
  flex-grow: 1;
}

.search-banner {
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
}

.results-list {
  display: flex;
  flex-flow: row wrap;
  flex: 1 200px;
  justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
  form {
    margin: 1em;
    height: fit-content;
    align-self: center;
  }
}

@media screen and (max-width: 500px) {
  .results-list {
    flex-direction: column;
  }
}