main, section {
  display: flex;
  flex-direction: column;
}

form {
  height: fit-content;
  align-self: center;
  border-bottom: .5rem solid #F1D302;
  border-right: .5rem solid #F1D302;
  background-color: #FDFFFC;
}

form, #resultName {
  margin: 1em;
  padding: .1rem;
}

.search-banner {
  display: flex;
}

#resultsList {
  display: flex;
  flex-flow: row wrap;
  flex: 1 200px;
  justify-content: space-evenly;
}

.result-name {
  align-self: center;
  color: #161925;
  background-color: #FDFFFC;
  border-bottom: 0.5rem solid #C1292E;
  border-right: 0.5rem solid #C1292E;
  width: fit-content;
}

@media screen and (max-width: 1000px) {
  form {
    height: fit-content;
    align-self: center;
  }
  .search-banner {
    justify-content: space-evenly
  }
}

@media screen and (max-width: 500px) {
  #resultsList {
    flex-direction: column;
  }
  .search-banner {
    flex-direction: column;
  }
}