html {
  background-color: #161925;
}

h1 {
  margin: .67rem;
  font-size: 4rem;
}

section {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #235789;
  color: #FDFFFC;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover, .App-header button:hover {
  background-color: orange;
  transform: scale(1.05);
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.App-header button, .header-text, .random-headline, .result-name {
  background-color: #FDFFFC;
  color: #161925;
  border-radius: 5px;
}

.header-text, .random-headline {
  border-bottom: .5rem solid #235789;
  border-right: .5rem solid #235789;
}

.random-headline {
  width: fit-content;
  margin: 1em;
  align-self: center;
}

.result-name {
  align-self: center;
  margin: 1em;
  padding: .1rem;
  border-bottom: 0.5rem solid #C1292E;
  border-right: 0.5rem solid #C1292E;
  width: fit-content;
}

.logo-link {
  text-decoration: none; 
  color: inherit; 
}

.filter-buttons {
  margin: 1rem 0; 
  padding: 0.5rem; 
}

.filter-buttons button {
  margin-right: 0.5rem; 
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  .App-header button {
    font-size: .5em;
  }
}